body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(150, 200, 150);
}

.site-title {
    color:rgb(36, 76, 29)
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

article ul {
    list-style: square;
}

article li:nth-child(odd) {
    background: rgb(241, 235, 218);
}