/* resets browser's css defaults to ensure the end user sees our exact design regardless of the browser they're using */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end of css reset */


body {
	font-family:Arial, Helvetica, sans-serif;
	/* adds light blue background colour behind all of the content */
	background-color: #aad4cf;
}

/* sets root element font size for rem units to follow */
html {
    font-size: 16px;
}

h1 {
	/* removes title from the page and overlaps it on top of the header */
	position:absolute;
	top: 209px;
	/* spans width of the content(text box) all the way across the header in order to center it */
	width: 100%;
	text-align: center;
	color:white;
	/* 4*16px = 64px */
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
	padding: 1rem 0;
}

h3 {
	font-size: 1.75rem;
	margin-bottom: .75rem;
}

h4 {
	font-size: 1.25rem;
}

p {
	font-size: 1rem;
	line-height: 1.5;
}

.wrapper {
	width: 1028px;
	/* centers the wrapper div horizontally with only a small margin at the bottom not the top */
	margin:0 auto 17px;
	background-color: #d4e9e7;
}

header {
	/* makes the header a stage for the main heading to be positioned relative to */
	position: relative;
	width: 100%;
}

header img {
	/* has image inside header take up entire width of the header */
	width: 100%;
}

nav {
	text-align: center;
}

nav a {
	/* removes underline from nav links */
	text-decoration: none;
	font-size: 1.5rem;
	color: black;
}

nav li {
	/* makes list elements sit in a row like inline elements while allowing block level property changes (like height) */
	display: inline-block;
	width: 32%;
	padding: .5rem 0;
	border-right: 1px solid #5c6565;
}

nav li:last-child {
	/* removes border to the right of the last nav link */
	border-right: none;
}

#story {
	padding: 10px;
}

#story img {
	width: 250px;
	/* creates empty space all around the image */
	margin: 0 20px 39px 0; 
	/* floats image to the left and has the paragraph surround and flow around it to the right */
	float: left;
}

#story p {
	padding-right: 15px;
}

.facts {
	/* ensures section doesn't wrap around floated image */
	clear: left;
	margin: 12px;
}

.facts li {
	list-style:inside;
}

#contact {
	margin: 0 10px;
}

form {
	border: 1px solid black;
	padding: 16px;
}

#contact #name, #email, #message {
	/* moves inputs below their respective labels */
	display: block;
	width: 972px;
	margin: 10px 0;
}

label {
	font-size: 1rem;
}

h4 {
	line-height: 2.5;
}

textarea {
	/* gets rid of the grabber that resizes the text area */
	resize: none;
	height: 100px;
}

button {
	background-color: transparent;
	border: 1px solid black;
	/* adds space between border and text(content) in inside */
	padding: 1em;
	/* adds space on top of the button outisde its border */
	margin-top: 16px;
	font-size: .7rem;
}

footer p {
	text-align: right;
	/* adds space between footer border and copyright text */
	padding: 35px 33px 37px ;
}

/* adjust font sizes 16px=12pt */