/* resets browser's css defaults to ensure the end user sees our exact design regardless of the browser they're using */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* end of css reset */

/* sets root element font size for rem units to follow */
html {
    font-size: 16px;
}

/* adds light blue background colour behind all of the content */
body {
	background-color: #aad4cf;
}

.wrapper {
	width: 1028px;
	/* centers the wrapper div horizontally with only a small margin at the bottom not the top */
	margin:0 auto 17px;
	background-color: #d4e9e7;
}

header {
	/* makes the header a stage for the main heading to be positioned relative to */
	position: relative;
}

header img {
	/* has image inside header take up entire width of the header */
	width: 100%;
}

h1 {
	/* removes prop from the page and overlaps it on top of the header */
	position:absolute;
	top: 209px;
	/* spans width of the content(text box) all the way across the header */
	width: 100%;
	text-align: center;
	color:white;
}

nav {
	text-align: center;
}

nav a {
	/* removes underline from nav links */
	text-decoration: none;
}

nav li {
	/* makes list elements sit in a row like inline elements while allowing block level property changes (like height) */
	display: inline-block;
	width: 33%;
	padding: 16px 0;
	border-right: 1px solid #5c6565;
}

nav li:last-child {
	/* removes border to the right of the last nav link */
	border-right: none;
}

#story img {
	width: 250px;
	/* creates empty space all around the image */
	padding: 10px;
	/* floats image to the left and has the paragraph surround and flow around it to the right */
	float: left;
}

.facts {
	/* ensures section doesn't wrap around floated image */
	clear: left;
	margin: 12px;
}

.facts li {
	list-style:inside;
}

#contact {
	border: 1px solid black;
	/* creates space left and right outside contact form border */
	margin: 0 10px;
}

/* makes text bars in contact form take up the whole width of div so they move below their labels */
#contact #name, #email, #message {
	display: block;
}

footer p {
	text-align: right;
	padding: 35px 33px 37px ;
}