/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */


/* default html for mobile view */
/* colours: #c78c06, #ffe6ac, #222 and white */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
}

p {
    font-size: .7rem;
    line-height: 1.4;
    padding: 10px 0;
}

/* sets max width of container and centers content */
.wrapper {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
}

.arrow-btn {
    color: white;
    background-color: #222;
    border: transparent;
    text-decoration: none;
    padding: 25px 20px;
    display: inline-block;
}

.fa-play {
    padding: 5px 10px;
    color: white;
}

/* header: centered column nav list with full width background */
.nav-bg {
    background-color: #222;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #c78c06;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
}

nav ul li:nth-child(1) {
    background-color: #c78c06;
    padding-top: 130px;
}

#home-button {
    color: #222;
}

.logo {
    float: left;
    width: 100px;
}

header form {
    display: flex;
    width: 100%;
}

header input {
    width: fit-content;
    flex-grow: 1;
    line-height: 1.5rem;
}

header button {
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
}
/* make magnifying glass bigger */

/* welcome section */
.welcome {
    position: relative;
}
/* welcome content with text and link */
#welcome {
    width: 100%;
    top: 200px;
    color: white;
    flex-direction: column;
}

.welcome-bg {
    width: 100%;
}

/* dark semi-transparent background for banner content */
.banner {
    width: 100%;
    /* position relatively to background image */
    position: absolute;
    top: 6%;
    left: 0;
    right: 0;
    background-color: rgba(2, 2, 2, .6);
    padding-top: 15px;
    /* make it center automatically vertically on image bg */
}

#connect-btn {
    background-color: #c78c06;
    color: #222;
}

#connect-btn > .fa-play  {
    color: #222;
}

/* breakpoint for screen size wider than 760px */