/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of css reset */


/* default html for mobile view */
/* colours: #c78c06, #ffe6ac, #222 and white */

/* set width will not be changed by things like padding or margin */
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 5px 0px;
}

h4 {
    font-size: .7rem;
    font-weight: 900;
}

p {
    font-size: .7rem;
    line-height: 1.4;
    padding: 5px 0;
}

/* sets max width of container and centers content */
.wrapper {
    width: 100%;
    margin: auto;
}

.arrow-btn {
    color: white;
    background-color: #222;
    border: none;
    text-decoration: none;
    padding: 25px 20px;
    display: inline-block;
    margin-top: 5px;
}

.fa-play {
    padding: 5px 10px;
    color: white;
}

/* header: centered column nav list with full width background */
.nav-bg {
    background-color: #222;
    padding-bottom: 13px;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #c78c06;
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
}

nav ul li:nth-child(1) {
    background-color: #c78c06;
    padding-top: 130px;
}

#home-button {
    color: #222;
}

.logo {
    float: left;
    width: 100px;
}

header form {
    display: flex;
    width: 100%;
    height: 35px;

}

header input {
    width: fit-content;
    flex-grow: 1;
    line-height: 1.5rem;
}

header button {
    color: #c78c06;
    background-color: #222;
    border: 1px solid #c78c06;
}

/* make magnifying glass bigger */
.fa-magnifying-glass {
    font-size: large;
}

/* welcome section */

/* welcome content with text and link */
#welcome-text {
    width: 100%;
    top: 200px;
    color: white;
}

.welcome {
    background: url(../images/main-banner.jpg);
    background-size: 100%;
    background-position: 15%;
    padding: 50px 0px;
    width: 100%;
}

.welcome-bg {
    width: 100%;
}

/* dark semi-transparent background for banner content */
.banner {
    width: 100%;
    top: 60%;
    left: 0;
    right: 0;
    background-color: rgba(2, 2, 2, .6);
    padding: 10px;
}

#connect-btn {
    background-color: #c78c06;
    color: #222;
}

#connect-btn > .fa-play  {
    color: #222;
}


.about {
    background-color: #ffe6ac;
    padding: 10px;
}

.about img {
    width: 100%;
}

.about article {
    padding: 10px 0px;
}

/* background colour behind text */
.services-grid article {
    background-color: #ffe6ac;
    /* adds space between articles */
    margin: 10px 0px;
}

.services-grid img {
    width: 100%;
}

/* adds padding around just the text in each article */
.padded-txt {
    padding: 10px;
}

/* vision section with image background */
.vision {
    background: url(../images/vision.jpg);
    background-size: cover;
    background-position: 50%;
    color: white;
    padding: 10px;
}

/* styles learn more button in vision section */
.vision .arrow-btn {
    border: #c78c06 1px solid;
    /* adjusts opacity of button */
    background-color: rgba(22, 22, 22, .65)
}

/* Our Team section */
.team-flex {
    display: flex;
    /* makes flex children wrap to make rows */
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/* background colour behind the text */
.team-flex article {
    background-color: #ffe6ac;
    margin-bottom: 10px;
}

/* creates line under team member's role */
.bio h4 {
    border-bottom: #c78c06 2px solid;
}

/* makes profile images take up full width of team section */
.team-flex img {
    width: 100%;
}


/* breakpoint for screen size 760px and wider */
@media screen and (min-width: 760px) {
    .wrapper {
        width: 760px;
    }
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav a {
        font-size: .8rem;
        line-height: 3;
    }

    .nav-bg {
        padding: 20px;
    }

    nav ul {
        display: flex;
    }

    nav li {
        display: inline;
        padding: 0px 20px;
    }

    nav ul li:nth-child(1) {
        background-color: #c78c06;
        padding: 0px 20px;
        height: auto;
    }

    header form {
        width: auto;
        flex-basis: 10%;
    }

    .logo {
        float: none;
        width: 70px;
    }

    #about {
        display: flex;
    }

    .about img {
        width: 50%;
    }

    .about article {
        padding: 5px 0px 0px 5px;
    }

    .services-grid {
        display: grid;
        /* splits grid into 6 columns of equal width */
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 3;
        grid-gap: 8px;
    }

    .services-grid .arrow-btn {
        width: 100%;
        text-align: center;
    }

    /* makes title occupy entire top row of grid */
    #our-services {
        grid-column: 1 / span 6;
    }

    /* makes first two articles take up half of the grid's width */
    .digital , 
    .marketing {
        grid-column: span 3;
    }

    /* makes last three articles each take up 1/3 of grid width */
    .video , 
    .web , 
    .print {
        grid-column: span 2;
    }

    
    /* Applies flex layout to Our Team section */
    .team-flex {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    /* makes flex items each take up half of section width */
    *.team-item {
        flex-basis: 50%;
    }

    .team-flex img {
        width: 50%;
    }

    /* puts Our Team h2 in its own row */
    .our-team {
        flex-basis: 100%;
        padding-bottom: 5px;
    }

    /* eliminates space between atricles from mobile view */
    .team-flex article {
        margin-bottom: 0;
    }

    /* sends bob's picture to the end (bottom right) */
    #bob-pic {
        order: 1;
    }
}